
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
a {
    color: #2d7788;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: #1a454f;
}
a:focus {
    text-decoration: none;
}
p {
    line-height: 1.5;
}
.container {
    max-width: 1300px;
}
.row {
    width: 100%;
    margin: 10px;
    margin-bottom: 0;
    position: relative;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {

    background: #a7aeb5;
    min-width: 440px;
    color: #fff;
}
.sidebar a {
    color: #fff;
}
.profile-container {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}
.sidebar .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .contact-list .fa {
    margin-right: 7px;
    font-size: 22px;
    vertical-align: middle;
}
.sidebar .contact-list .fab {
    margin-right: 7px;
    font-size: 22px;
    vertical-align: middle;
}
.sidebar .contact-list li {
    margin-bottom: 15px;
}
.sidebar .contact-list li:last-child {
    margin-bottom: 0;
}
.sidebar .container-block {
    padding: 20px;
    z-index: 1 !important;
}
.sidebar .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

.sidebar .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
}
.sidebar .languages-list {
    margin-bottom: 0;
}
.sidebar .languages-list li {
    margin-bottom: 10px;
}
.sidebar .languages-list li:last-child {
    margin-bottom: 0;
}
.sidebar .interests-list {
    margin-bottom: 0;
}
.sidebar .interests-list li {
    margin-bottom: 10px;
}
.sidebar .interests-list li:last-child {
    margin-bottom: 0;
}
.main {
    padding-top: 40px;
    padding-left: 40px;
    height:100%;
    background: #fff;
}
.main .section-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}
.main .section-title .fa {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    position: relative;
    top: -2px;
}
.main .section-title .fas {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    position: relative;
    top: -2px;
}
.main .section {
    margin-bottom: 60px;
}
.main .experiences-section .item {
    margin-bottom: 20px;
    margin-left: 30px;
}
.main .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}
.main .job-title {
    color: #3F4650;
    font-size: 21px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.main .time {
    color: #97AAC3;
    font-weight: 500;
}
.main .experiences-section .company {
    margin-bottom: 10px;
    font-weight: 600;
}
.main .courses-section .date{
    margin-left: 10px;
    color: #97AAC3;
}
.main .education-section .degree {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}
.main .education-section .item {
    margin-bottom: 15px;
    margin-left: 30px;
}
.main .education-section .item:last-child {
    margin-bottom: 0;
}
.main .education-section .meta {
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
.main .course .coursename {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 12px;
}
.main .course .courses {
    margin-left: 30px;
}
.projects{
    background: #a3d3df;
    color: #fff;
}
.projects .projects-title{
    padding-bottom: 30px;
    padding-top: 30px;
}
.projects .project-item{
    padding-bottom: 30px !important;
}
.projects .card{
    overflow: hidden;
    display: block !important;
    border-radius: 0 !important;
}
.projects .card img{
    display: block;
}
.projects .card .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 134, 154, 0.7);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 100%;
    transition: all .5s;
}
.projects .card:hover .card-img-overlay{
    top:0;
}
.projects  .card-img-overlay .card-text {
    margin-left: 10px;
    font-size: 18px;
}
.projects .card-img-overlay .btn{
    margin: 10px;
}
.skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
}
.skillset .level-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12px;
}
.skillset .level-bar {
    height: 12px;
    background: #f5f5f5;
}
.skillset .level-bar-inner {
    height: 12px;
    background: #3da9c373;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .sidebar {
        position: static;
        width: inherit;
        height: 100%;
    }
    .main {
        padding: 30px;
    }
    .main .time {
        position: static;
        display: block;
        margin-top: 5px;
    }
    .main .upper-row {
        margin-bottom: 0;
    }
}

/*!* Small devices (tablets, 768px and up) *!
!* Medium devices (desktops, 992px and up) *!
@media (min-width: 992px) {
    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }
    .skillset .level-bar {
        display: inline-block;
        width: 70%;
        float: left;
        position: relative;
        top: 1px;
    }
}
!* Large devices (large desktops, 1200px and up) *!
!* Ex-Large devices (large desktops, 1200px and up) *!*/
